<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ba5255e5cb.js" crossorigin="anonymous"></script>
    <link rel="icon" href="{{ url_for('static', filename='images/hashtag.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>HashtagTube</title>
</head>
<body>
    <div id="wrap">
        <h1><a href="/">Welcome to HashtagTube!</a></h1>
        <p>Try searching the Top 10 trending Youtube videos with your desired hashtag.</p>
    
    <div id="search-box">
        <form id="crawling" method="post">
            <div class="input">
                <i class="fa-solid fa-hashtag"></i>
                <input type="text" name="hashtag" id="hashtag" placeholder="Enter Your Hashtag" autocomplete="off" required>
            </div>
            <button class="fa-solid fa-magnifying-glass" type="submit" aria-label="Search"></button>
        </form>

        <div id="loading" class="hidden">
            <img src="../static/images/loading.gif" alt="loading">
        </div>

        <div id="result" class="hidden"></div>
    </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
